/* Add styling for your page here */

.App {
  text-align: center;

  .top {
    background-color: lightcoral;
    margin: 20px;
  }

  .container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
  }

  .counter {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
  }
}

select {
  margin: 10px;
  font-size: 16px;
  background-color: lightgray;
  cursor: pointer;
  font-weight: bold;
}

button {
  margin: 10px;
  font-size: 16px;
  background-color: oldlace;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
}

.reset {
  background-color: orange;
}

.sort {
  background-color: limegreen;
}
